* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

section {
    height: 100vh;
    width: 100%;
    position: relative;
}


.colorred section {
    background-color: red;
}

.colorgreen section {
    background-color: green;
}

.coloryellow section {
    background-color: yellow;
}

.contenitore {
    left: 50%;
    top: 50%;
    position: absolute;
    color: yellow;
    font-size: 30px;
    transform: translate(-50%, -50%)
}

#yellow .contenitore{
    color: green;
}

.contenitore h1{
    text-align: center;
}

.contenitore img{
    display: block;
    margin: auto;
    width: 50%;

}
